@import url('https://fonts.googleapis.com/css?family=Special+Elite');
body{
    background: #edf2f4;
    perspective: 1000px;
    transform-style: preserve-3d;
    display: flex;
    height: 100vh;
    font-family: 'Special Elite', cursive;
}
.text-white{
    color: white;

}
.text-shadow{
    text-shadow: 1px 1px 1px black;
}
.card{
    pointer-events: none;
    transform: translate(0);
    padding: 30px;
    ackground: url(http://unsplash.it/600/400?image=89);
    border-radius: 5px;
    width: 400px;
    height: 200px;
    margin: auto;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    display: flex;
    box-shadow: 0 0 5px rgba(0, 0, 0, 9);
    position: relative;
}
.card:after{
    content: " ";
    position: absolute;
    width: 100%;
    height: 10px;
    border-radius: 50%;
    left: 0;
    bottom: -50px;
    box-shadow: 0 30px 20px rgba(0,0,0,6) !important;
}
.card-content{
    margin: auto;
    text-align: center;
    transform-style: preserve-3d;
}
h1{
    transform: translateZ(100px);
}
p{
    transform: translateZ(50px);
    display: block;
}
card.related{
    transform: translateZ(80px);
    font-style: italic;
}
a{
    color: #69c6b8;
    pointer-events: auto;
}
